.chatWindow {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    min-width: 320px;
    background-color: #1D1E22;
}
.chatWindow .MuiIconButton-root {
    color: white;
}
