.jabber {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100vw;
}

.chatWindow {
    display: flex;
    min-width: 320px;
    height: 100vh;
    background-color: beige;
    width: 75%;
}
