.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    min-width: 320px;
    height: 100vh;
    border-right: 1px solid #37393C;
    background-color: #1D1E22;
    color: white;
}

.sidebar__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #37393C;
    padding: 12px 12px 20px 20px;
}

.sidebar__header > .MuiIconButton-root {
    color: white;
}

.sidebar__search {
    display: flex;
    margin-right: 10px;
    width: 100%;
    padding: 0 12px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #393a3f;
    border-radius: 8px;
}

.sidebar__search:focus-within {
    border: solid 1px lightgray;
}

.search__input {
    border: none;
    width: 85%;
    background-color: transparent;
    color: white;
    outline: none;
}

.sidebar__chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 12px 0;
    height: 100%;
    overflow-y: hidden;
}

.sidebar__chats_header h4 {
    margin: 5px 12px 5px 20px;
    text-transform: capitalize;
}

.sidebar__chats_list {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
}