.chatMessage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 70%;
    margin-bottom: 10px;
}

.chatMessage__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 5px;
    background-color: #26272D;
}

.chatMessage__content h5 {
    margin-top: 0;
    margin-bottom: 2px;
}

.chatMessage__content p {
    margin: 2px 0;
}

.chatMessage__content_timestamp {
    font-size: x-small;
    align-self: flex-end;
}

.myMessage {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.myMessage .chatMessage__content {
    background-color: #BDD2B6;
    color: #141416;
}